<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LEGO Collections</a>
        </div>
    
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a class="<%= (page == '/') ? 'active' : '' %>" href="/">Home</a></li> -->
                <li><a class="<%= (page == '/lego/sets') ? 'active' : '' %>" href="/lego/sets">View Collection</a></li>
                <li><a class="<%= (page == '/lego/addSet') ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a></li>
                <li><a class="<%= (page == '/about') ? 'active' : '' %>" href="/about">About</a></li>
                <!-- <li><a class="<%= (page == '/404') ? 'active' : '' %>" href="/404">404</a></li> -->
            </ul>
        </div>
    </div>
</nav>
