<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LEGO Collections</a>
        </div>
    
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a class="<%= (page == '/') ? 'active' : '' %>" href="/">Home</a></li> -->
                <li><a class="<%= (page == '/lego/sets') ? 'active' : '' %>" href="/lego/sets">View Collection</a></li>
                <li><a class="<%= (page == '/lego/addSet') ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a></li>
                <li><a class="<%= (page == '/about') ? 'active' : '' %>" href="/about">About</a></li>
                <% if (session.user) { %>
        
                    <li>
                      <details>
                        <summary>Account: <%= session.user.userName %></summary>
                        <ul class="p-2 right-0 z-[1] menu">
                          <li><a class="<%= (page == "/lego/addSet") ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a></li>
                          <li><a class="<%= (page == "/userHistory") ? 'active' : '' %>" href="/userHistory">User History</a></li>
                          <li><a href="/logout">Log Out</a></li>
                        </ul>
                      </details>
                    </li>
                  <% } else { %>
            
                    
                  <li>
                    <details>
                      <summary>Account</summary>
                      <ul class="p-2 right-0 z-[1] menu">
                        <li><a class="<%= (page == "/login") ? 'active' : '' %>" href="/login">Login</a></li>
                        <li><a class="<%= (page == "/register") ? 'active' : '' %>" href="/register">Register</a></li>
                      </ul>
                    </details>
                  </li>
            
                  <% } %>
                <!-- <li><a class="<%= (page == '/404') ? 'active' : '' %>" href="/404">404</a></li> -->
            </ul>
        </div>
    </div>
</nav>
