<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Sets Collection</title>
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <%- include('partials/navbar', { page: '/lego/sets'}) %>
    <br>
    <br>
    <br>
    <div class="container mx-auto p-4">
        <div class="hero bg-base-200 rounded-lg p-6">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="text-5xl font-bold">Collection</h1>
                    <p class="py-6">Browse the entire collection. Click the theme to filter by themes such as:
                        <a href="/lego/sets?theme=Technic" class="btn btn-primary btn-sm">Technic</a>
                        <a href="/lego/sets?theme=Classic Town" class="btn btn-primary btn-sm">Classic Town</a>
                        <a href="/lego/sets?theme=Supplemental" class="btn btn-primary btn-sm">Supplemental</a>
                    </p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Theme</th>
                    <th>Year</th>
                    <th>Parts</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <% sets.forEach(function(set) { %>
                    <tr>
                        <td><img src="<%= set.img_url %>" alt="<%= set.name %>" width="100" height="100"></td>
                        <td><h4><%= set.name %></h4></td>
                        <td><a class="btn  mt-2 btn-xs" href="/lego/sets?theme=<%= set.Theme.name %>"><%= set.Theme.name %></a></td>
                        <td><%= set.year %></td>
                        <td><%= set.num_parts %></td>
                        <td><a class="btn btn-primary" href="/lego/sets/<%= set.set_num %>">Details</a></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>